!!!
%html
  %head
  %body
    %header
      .head-notice
    .sidebar
      .sidebar__user
        .sidebar__user__name ユーザー名
      .sidebar__groups
        .sidebar__groups__list
          .sidebar__groups__list__group-name グループ名
          .sidebar__groups__list__group-message 最後のメッセージ
    .main
      .main__header
        .main__header__group-name グループ名
        .main__header__member Member: aaa bbb ccc
      .main__board
        .main__board__message
          .main__board__message__user-name ユーザー名
          .main__board__message__time 2018/09/07
          .main__board__message__text aaaaaaaaaaa
    %footer
