%header
  .head-notice チャットグループが作成されました。
.sidebar
  .sidebar__user
    .sidebar__user__name user-name
    %ul.sidebar__user__list
      %li
        %a{:href => ""}
          %i.fas.fa-edit
      %li
        %a{:href => ""}
          %i.fas.fa-cog
  .sidebar__groups
    .sidebar__groups__list
      .sidebar__groups__list__group-name group name 1
      .sidebar__groups__list__group-message latest message XXX
    .sidebar__groups__list
      .sidebar__groups__list__group-name group name 2
      .sidebar__groups__list__group-message latest message ZZZ
.main
  .main__header
    .main_header__left
      .main__header__left__group-name group name
      .main__header__left__member MEMBER: AAA BBB CCC
    .main__header__edit
      %a{:href => ""} edit
  .main__body
    .main__body__message-list
      .main__body__message-list__message
        .main__body__message-list__message__user-name user-name
        .main__body__message-list__message__time 2018/09/07 12:00:00
        .main__body__message-list__message__text hello hello hello
      .main__body__message-list__message
        .main__body__message-list__message__user-name user-name
        .main__body__message-list__message__time 2018/09/07 12:11:11
        .main__body__message-list__message__text yes yes yes
  .main__footer
    %form.main__footer__body
      %input{:placeholder => "type a message", :type => "text", :class => "input"}/
      .image
        %a{:href => ""}
          %i.far.fa-image.fa-lg
      %input{:type => "submit", :value => "Send", :class => "submit"}/
